.dropstyle{
	position: absolute;
	will-change: transform;
	top: 0px;
	left: 0px;
	transform: translate3d(0px, 40px, 0px);
}

.expensesCard{
	width: 30rem;
	height: 28rem;
}

.cardTextData{
	text-align: center;
}

.imgBadge{
	margin: 5px;
}

.footer-text{
	font-size: 14px;

}

.footer{
	background-color: #79c2ad;
	bottom: 0;
	width:100%;
}

.footer-row{
	justify-content: center;
}

.transaction-table{
	width:750px;
}

.addTransaction-wrapper, .buttonAddTrans {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
 	justify-content: center;

}

.badge{
	font-size: 17px;
}

.addTransBut{
	margin: 9px;
}

.moneyInput, .desInput, .imgMoney, .formCat, .addButt, .backButt{
	margin: 5px;
	padding: 2px;
}

h3{
	padding: 5px;

}

.container-fluid-addTrans{
	height: 500px;
	width: 800px;
 	justify-content: center;
 	margin: 0 auto;
 	padding: 30px;

}

 .borderAdd{
	 text-align: center;
	 justify-content: center;
	 margin: 25px;
}

.catBad{
	text-align: center;
	justify-content: center;
	margin: 7px;
}

.test{
	position: absolute;
	 will-change: transform;
	 top: 0px;
	 left: 0px;
	 transform: translate3d(0px, 38px, 0px);
}

.loginForm, .registerForm, .usernameTakenForm, .wrongPasswordForm{
	margin: 0 auto;
 	padding: 30px;
 	width: 50%;
 	text-align: center;
}
.aShow, .a{
	color: grey;
}

.page-footer {
/*  position: absolute;
  bottom: 0;
  width: 100%;
  height:220px;*/

}

.cButton{
	display: inline;
	    vertical-align:top;
    text-align:center;
}

.three{
	color:green;
}

.wrapTips{
	width: 90%;
	height: 600px;
}

.container-fluid-savings{
	width: 50%;
	height: 60%;
	margin: 0 auto;
}

.video{
	width:700px ;
	height:400px;
	margin: 0 auto;
}

.source{
	font-size: 12px;
	text-align: center;
}

.wrongPassword, .usernameTaken{
	width: 200px;
	margin: 0 auto;
}

.legend{
	padding: 4px;
	margin: 2px;
}

.container-fluid-s{
	text-align: center;
}